/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
    -fx-background-color: #e5e5e5;
}

.button { 
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#text-time {
   -fx-font-size: 96.0px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 );
}